<!doctype html>
<html lang="en">
<head>  
  <title>&lt;game-board></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="game-board.css">

</head>
<body>

    <game-board></game-board>  

<script type="module">
import {GameBoard} from './GameBoard.js'
import {GameCell} from '../game-cell/GameCell.js'
import {parseMap} from './parse-map.js'  // @TODO this should probably be in an editor or something
import {findIslands} from './find-islands.js'

const maps = Array.from({length:5}).map((_,i) => `map-${i+1}.txt`)

let randomMap = maps[Math.floor(Math.random() * maps.length)]

let response = await fetch(randomMap)
let text = await response.text()
let map = parseMap(text)

let gameBoardData = {
  metadata: {
    name: 'Random Map',
    description: 'A randomly generated map'
  }, 
  map
}

const gameBoard = document.querySelector('game-board')

Object.assign(window, { gameBoard, findIslands})

gameBoard.data = gameBoardData

// let cell = document.querySelector('game-cell[gridcolumn="10"][gridrow="10"]')

// cell.terrain = 'land'
// gameBoard.changeNeighbors({x:cell.x,y: cell.y, terrain:'land'})

// document.addEventListener('click', e => {
//   if(e.target.matches('game-cell')){
//     let gameCell = e.target.closest('game-cell')
//     gameCell.terrain = 'land'
//     gb.changeNeighbors(gameCell)
//   }
// })


</script>

</body>
</html>
