@import url('../game-cell/game-cell.css');

:root {
  --cell-size: 40px;
  --cell-count: 20;
}
game-board {
  display: grid;
  width: calc(var(--cell-count) * var(--cell-size));
  height: calc(var(--cell-count) * var(--cell-size));
  /* align-items: inline-start; */
  gap:0;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  /* height: 100px; */
}
