<!doctype html>
<html lang="en">
<head>  
  <title>&lt;file-structure></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="file-structure.css">

</head>
<body>

    <file-structure>
- GameManager.js - the entry point of the game, initializes everything else.
  - GameUi.js - this lays out the game interface as instructed by GameManager.
      - GameMap.js - the grid of cells.
      - GameCell.js - each cell in the grid.
      - GameControls.js - the controls that the user interacts with. also handles listening for key, etc events.
  - EnemyCharacter.js - represents an enemy, placed on the board by the GameManager.
  - GameItem.js - represents an item, placed on the board by the GameManager.
  - PlayerCharacter.js - represents the player, placed on the board at the beginning of the game.
- DataViewer.js - displays generic data. 
    
    </file-structure>  

<script type="module">
import {FileStructure} from './FileStructure.js'

window.FileStructure = document.querySelector('file-structure')
</script>

</body>
</html>
