@import url("./game-manager/game-manager.css");
@import url("./game-ui/game-ui.css");
@import url("./game-map/game-map.css");
@import url("./game-cell/game-cell.css");
@import url("./game-controls/game-controls.css");
@import url("./enemy-character/enemy-character.css");
@import url("./game-item/game-item.css");
@import url("./player-character/player-character.css");
@import url("./data-viewer/data-viewer.css");


strong.component-name {
  background: #333;
  color:whitesmoke;
  font-family: monospace;
  font-size: 1.5rem;
  padding: .25rem;
  margin: .1rem;
  border-radius: 5px;
  display: inline-block;
}