<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=<li>0">
  <title>Components Index</title>
  <script type="module" src="./file-structure/FileStructure.js"></script>
  <link rel="stylesheet" href="component-index.css">
</head>
<ol>

<h2>Utility components</h2>

<ol>
  <li><code>&lt;data-viewer></code> - displays generic data.component-index.css</li>
</ol >



<h2>Game components</h2>

<ol>

<li> <code>&lt;game-manager></code> - Entry point of the game, initializes everything else.</li>
<li> <code>&lt;game-ui></code> - Listens for user actions and relates them to the map.</li>
<li> <code>&lt;game-map></code> - The map of the world. Loads and renders map data where instructed by GameUi.</li>
<li> <code>&lt;game-controls></code> - The controls that the user interacts with. Handles listening for key events, mouse events, etc events.</li>
<li> <code>&lt;game-cell></code> - Each cell in the map. Has an x, y property which places it in the grid. Tracks what is on it and terrain type.</li>
<li> <code>&lt;enemy-character></code> - represents an enemy, placed on the board by the GameManager.</li>
<li> <code>&lt;player-character></code> - represents the player, placed on the board at the beginning of the game.</li>
<li> <code>&lt;game-item></code> - Represents an item, placed on the board by the GameManager.</li>
</ol>

 
<script type="module">

let snakeToCamel = snake => snake.split`-`.map((word, i) => i ? word[0].toUpperCase() + word.slice(1) : word).join``
Array.from(document.querySelectorAll('code'))
  .filter(code => {
    let newCode = document.createElement('code')
    let name = code.textContent.slice(1, -1)
    let jsName = snakeToCamel(name) + '.js'
    let htmlName = name + '.html'
    let a = document.createElement('a')
    a.href = `./${name}/${htmlName}`
    a.innerHTML = `<code><a href="${name}/${htmlName}">${name}</a></code> ` //[<a href="${name}/${jsName}.js">${jsName}</a>]`
    newCode.append(a)
    code.replaceWith(newCode)
  })
</script>
</body>
</html>
