<!doctype html>
<html lang="en">
<head>  
  <title>&lt;game-manager></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="game-manager.css">

</head>
<body>

    <game-manager src="../../sample-game.json"></game-manager>  

<script type="module">
import {GameManager} from './GameManager.js'
import {PlayerCharacter} from '../player-character/PlayerCharacter.js'

window.gameManager = document.querySelector('game-manager')
window.player = new PlayerCharacter()
gameManager.player = player
</script>

</body>
</html>
